.fs-32 {
    font-size: 32px;
}

.fs-24 {
    font-size: 24px;
}

.fs-18 {
    font-size: 18px;
}

.fs-15 {
    font-size: 15px;
}

.fw-900{
    font-weight: 900;
}

.fw-700{
    font-weight: 700;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}
